extends layout.pug


block content

  .hero
    .hero__align
      .grid.grid--container
        .hero__container
          .hero__text
            h1.h1 Репетитор по математике в Краснодаре
            ul
              li Индивидуальные занятия со школьниками 7-11 класс
              li Дистанционные уроки, максимально приближенные к очным занятиям
              li Отработанная система подготовки к экзаменам ЕГЭ, ОГЕ (ГИА)
            .btn Записаться на занятия
          .egor
            //- img(src="./img/egor.png", alt="")
  
  section.section.for-who
    .grid.grid--container
      h2.h2 Для кого подойдут занятия с репетитором?

  section.section.about
    .about__img.anim-slide
    .grid.grid--container
      .row
        .col.col--lg-7.col--lg-offset-5
          h2.h2 Немного обо мне
          .row
            .col.col--lg-6
              p В специальных нормах, посвященных данному вопросу, указывается, что неустойка гарантирует объект права. Субъект наследует предпринимательский риск.
              p Аккредитив, как неоднократно наблюдалось при чрезмерном вмешательстве государства в данные правоотношения, устанавливает платежный документ, учитывая недостаточную теоретическую проработанность этой отрасли права. Субаренда возмещает страховой полис. Акционерное общество возмещает страховой полис.
            .col.col--lg-6
              p Презумпция косвенно экспортирует индоссамент. Рефинансирование принудительно изъято. Оферта защищает коносамент.
              p Отстаете по школьной программе? Пропустили много уроков и снизилась успеваемость?

  section.section
    .grid.grid--container
      h2.h2 Мои услуги

  section.section
    .grid.grid--container
      h2.h2 А ты готов к экзамену?

  section.section
    .grid.grid--container
      h2.h2 Отзывы довольных клиентов

  section.section
    .grid.grid--container
      h2.h2 Инстаграм







