extends layout.pug


block content

  .hero
    .hero__align
      .grid.grid--container
        .hero__container
          .hero__text
            h1.h1 Репетитор по математике в Краснодаре
            ul
              li Индивидуальные занятия со школьниками 7-11 класс
              li Дистанционные уроки, максимально приближенные к очным занятиям
              li Отработанная система подготовки к экзаменам ЕГЭ, ОГЕ (ГИА)
            .btn Записаться на занятия
          .egor
            //- img(src="./img/egor.png", alt="")
  
  section.section.for-who
    .grid.grid--container
      h2.h2 Для кого подойдут занятия с репетитором?

  section.section.for-who
    .grid.grid--container
      h2.h2 Немного обо мне

  section.section.for-who
    .grid.grid--container
      h2.h2 Мои услуги

  section.section.for-who
    .grid.grid--container
      h2.h2 А ты готов к экзамену?

  section.section.for-who
    .grid.grid--container
      h2.h2 Отзывы довольных клиентов

  section.section.for-who
    .grid.grid--container
      h2.h2 Инстаграм







