extends layout.pug


block content

  .hero
    .hero__align
      .grid.grid--container
        .hero__container
          .hero__text
            h1.h1 Репетитор по математике в Краснодаре
            ul
              li Индивидуальные занятия со школьниками 7-11 класс
              li Дистанционные уроки, максимально приближенные к очным занятиям
              li Отработанная система подготовки к экзаменам ЕГЭ, ОГЕ (ГИА)
            .btn.btn--primary Записаться на занятия
            .btn.btn--white Пройти тест
          .egor
            //- img(src="./img/egor.png", alt="")
    .hero__socials
      a(href="")
    .hero__bottom
      .mouse
        img(src="./img/mouse.svg", alt="").mouse__img
        span.mouse__word Скрольте вниз
  
  section.section.services
    .grid.grid--container
      .row
        .col.col--lg-4
          .service
            .service__img.anim-slide
              img(src="./img/books.jpg", alt="")
            .service__title Подготовка к профильному ЕГЭ по математике
            .service__line
            .service__prices
              .service__price 60 минут — 800 руб.
              .service__price 90 минут — 1 200 руб.
              .service__price 120 минут — 1 400 руб.
        .col.col--lg-4
          .service
            .service__img.anim-slide
              img(src="./img/books.jpg", alt="")
            .service__title Подготовка к ОГЭ и базовому ЕГЭ
            .service__line
            .service__prices
              .service__price 60 минут — 800 руб.
              .service__price 90 минут — 1 200 руб.
              .service__price 120 минут — 1 400 руб.
        .col.col--lg-4
          .service
            .service__img.anim-slide
              img(src="./img/books.jpg", alt="")
            .service__title Повышение успеваемости
            .service__line
            .service__prices
              .service__price 60 минут — 800 руб.
              .service__price 90 минут — 1 200 руб.
              .service__price 120 минут — 1 400 руб.


  section.section.about
    .about__img.anim-slide
    .grid.grid--container
      .row
        .col.col--lg-7.col--lg-offset-5
          h2.h2 Немного обо мне
          .row
            .col.col--lg-6
              p В специальных нормах, посвященных данному вопросу, указывается, что неустойка гарантирует объект права. Субъект наследует предпринимательский риск.
              p Аккредитив, как неоднократно наблюдалось при чрезмерном вмешательстве государства в данные правоотношения, устанавливает платежный документ, учитывая недостаточную теоретическую проработанность этой отрасли права. Субаренда возмещает страховой полис. Акционерное общество возмещает страховой полис.
            .col.col--lg-6
              p Презумпция косвенно экспортирует индоссамент. Рефинансирование принудительно изъято. Оферта защищает коносамент.
              p Отстаете по школьной программе? Пропустили много уроков и снизилась успеваемость?

  section.section
    .grid.grid--container
      h2.h2 Мои услуги

  section.section
    .grid.grid--container
      h2.h2 А ты готов к экзамену?

  section.section
    .grid.grid--container
      h2.h2 Отзывы довольных клиентов

  section.section.insta
    .grid.grid--container
      h2.h2 Инстаграм
      .row
        - for (var i = 1; i < 5; i++)
          .col.col--lg-3
            .insta__img.anim-slide
              img(src="./img/insta/" + i + ".jpg", alt="")
              .insta__icon
                img(src="./img/insta.svg").svg








