.section
  margin-bottom $main-offset

.about
  &__img
    background url('../../img/about.jpg') no-repeat center
    background-size cover
    height 60rem
    // width 70rem
    left 0
    position absolute
    width (700 / 1900 * 100)%

