h1
  margin 0

.h1,
.h2,
.h3,
.p,
p
  margin 0
  margin-bottom 1rem

p
  font-size 1.6rem
  line-height 1.6
  margin-bottom 3rem

.h1
  font-family $font-header
  font-size 4.4rem
  // line-height 1.1

.h2
  font-family $font-header

.text-primary
  color $primary

.uppercase
  text-transform uppercase
